<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <mat-select
    [(ngModel)]="selection"
    [compareWith]="compare"
    (selectionChange)="onSelectionChange()"
    (closed)="onClose()"
    name="selection"
    [disabled]="disabled"
    multiple>
    <mat-option disabled class="user-filterable-multi-select"
      ><input
        (keydown)="$event.stopPropagation()"
        matInput
        [(ngModel)]="filterValue"
        (keyup)="filter()"
        placeholder="Search"
        name="filter"
    /></mat-option>
    <mat-divider></mat-divider>
    <mat-option *ngIf="none" [value]="null">None</mat-option>
    <mat-option *ngFor="let item of selectable" [value]="item">
      {{ item.username }}
    </mat-option>
  </mat-select>
</mat-form-field>
