<div class="friends-tab">
  <form (ngSubmit)="sendFriendRequest()">
    <mat-form-field class="full-width">
      <mat-label>Search/Add Friends</mat-label>
      <input
        matInput
        (keyup)="filter()"
        [(ngModel)]="potentialFriend"
        name="search" />
      <span
        *ngIf="potentialFriend"
        matSuffix
        matTooltip="Search/Add Friends"
        (click)="sendFriendRequest()"
        class="material-icons"
        >send</span
      >
    </mat-form-field>
  </form>
  <app-inbound-notifications
    [notifications]="inboundNotifications"></app-inbound-notifications>
  <app-friends-list
    [friends]="friends"
    [unviewedMessages]="unviewedMessages"></app-friends-list>
  <app-outbound-notifications
    [notifications]="outboundNotifications"></app-outbound-notifications>
</div>
