.signup-card {
  max-width: 400px;
}

.signup-header-image {
  background-image: url('/assets/wick.png');
  background-size: cover;
}

.signup-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.signup-full-width {
  width: 100%;
}

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/home.png');
}
