<mat-expansion-panel
  class="mat-elevation-z0 padding-0"
  [(expanded)]="panelOpenState">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h1>
        <span style="color: aliceblue">notifications</span>
      </h1>
    </mat-panel-title>
    <mat-panel-description>
      <app-notification-badge
        *ngIf="notifications.data.length > 0"
        [count]="notifications.data.length">
      </app-notification-badge>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <table mat-table [dataSource]="notifications" class="mat-elevation-z0">
    <ng-container matColumnDef="username">
      <td mat-cell *matCellDef="let element">
        {{ element.from.username }}
        <app-status-bubble
          [color]="isFriendRequest(element) ? '#4caf50' : '#2196f3'"
          [statusText]="isFriendRequest(element) ? 'Friend Request' : 'Invite'"
          [disableToolTip]="true">
        </app-status-bubble>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <td class="right-justify" mat-cell *matCellDef="let element">
        <ng-container *ngIf="isFriendRequest(element); else inviteActions">
          <span
            matTooltip="Reject Friend Request"
            (click)="rejectFriendRequest(element)"
            class="material-icons-outlined"
            >close</span
          >
          <span
            matTooltip="Accept Friend Request"
            (click)="acceptFriendRequest(element)"
            class="material-icons-outlined"
            >check</span
          >
        </ng-container>
        <ng-template #inviteActions>
          <span
            matTooltip="Reject Invite"
            (click)="rejectInvite(element)"
            class="material-icons-outlined"
            >close</span
          >
          <span
            matTooltip="Accept Invite"
            (click)="acceptInvite(element)"
            class="material-icons-outlined"
            >double_arrow</span
          >
        </ng-template>
      </td>
    </ng-container>

    <tr
      mat-row
      *matRowDef="let row; columns: notificationsDisplayedColumns"></tr>
  </table>
</mat-expansion-panel>
