table {
  background-color: var(--dark);
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0;
}

.right-justify {
  text-align: right;
}

.mat-expansion-panel {
  background-color: var(--dark);
}

.mat-expansion-panel-header {
  padding: 0px;
  padding-right: 7px;
}

::ng-deep .padding-0 .mat-expansion-panel-body {
  padding: 0px;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}

.full-width {
  width: 100%;
}

/* Stylesheet (e.g., outbound-notifications.component.css) */
.friend-request-label {
  background-color: #4caf50; /* Green background for friend requests */
  color: white;
  padding: 3px 6px;
  border-radius: 8px;
  font-size: 0.75rem;
}

.invite-label {
  background-color: #2196f3; /* Blue background for invites */
  color: white;
  padding: 3px 6px;
  border-radius: 8px;
  font-size: 0.75rem;
}
