<div class="header">
  <h1>Settings</h1>
</div>
<mat-divider class="header-divider"></mat-divider>

<mat-form-field class="custom-game-name">
  <mat-label>Name</mat-label>
  <input
    matInput
    name="name"
    [(ngModel)]="name"
    #input
    maxlength="20"
    (blur)="onGameNameBlur(name)" />
  <mat-hint class="custom-game-name-hint" align="end"
    >{{ name?.length || 0 }}/20</mat-hint
  >
</mat-form-field>

<mat-form-field class="custom-game-mode">
  <mat-label>Game Mode</mat-label>
  <mat-select
    [(value)]="gameMode"
    (valueChange)="onGameModeChange($event)"
    panelClass="select">
    <mat-option *ngFor="let mode of gameModes" [value]="mode">{{
      mode
    }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="custom-game-map">
  <mat-label>Map</mat-label>
  <mat-select
    [(value)]="gameMap"
    (valueChange)="onGameMapChange($event)"
    panelClass="select">
    <mat-option *ngFor="let map of gameMaps" [value]="map">{{
      map
    }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="custom-game-max-player-count">
  <mat-label>Max Players</mat-label>
  <mat-select
    [(value)]="maxPlayerCount"
    (valueChange)="onMaxPlayerCountChange($event)"
    panelClass="select">
    <mat-option *ngFor="let count of maxPlayerCounts" [value]="count">{{
      count
    }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-radio-group
  class="custom-game-visibility"
  [(ngModel)]="visibility"
  (ngModelChange)="onVisibilityChange($event)">
  <mat-label>Visibility</mat-label>
  <mat-radio-button
    class="custom-game-visibility-radio-button"
    *ngFor="let vis of visibilities"
    [value]="vis">
    {{ vis }}
  </mat-radio-button>
</mat-radio-group>
<mat-divider></mat-divider>
