.header {
  display: flex;
  align-items: center;
}

.header-divider {
  margin-bottom: 20px;
}

.custom-game-name {
  width: 100%;
}

.custom-game-name-hint {
  color: aliceblue;
}

::ng-deep .select.mat-mdc-select-panel {
  background-color: var(--dark);
}

.custom-game-mode {
  width: 100%;
}

.custom-game-map {
  width: 100%;
}

.custom-game-max-player-count {
  width: 100%;
}

.custom-game-visibility {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.custom-game-visibility-radio-button {
  margin: 5px;
}

::ng-deep .custom-game-visibility-radio-button label {
  margin-bottom: 0px;
}
