/* social cell stuff */
.hint {
    color: aliceblue;
}

.input {
    width: 100%;
}

.material-icons {
    vertical-align: middle;
    color:#673ab7;
}
  
.material-icons:hover {
    cursor: pointer;
}
