.presence-indicator {
  display: inline-block;
  border-radius: 50%; /* This ensures the element is always a circle */
  vertical-align: middle; /* Aligns with adjacent text */
}
.presence-indicator:hover {
  cursor: pointer;
}

.presence-indicator.Online {
  background-color: #3cb371; /* Green color for 'online' status */
}

.presence-indicator.Offline {
  background-color: #cd5c5c; /* Red color for 'offline' status */
}

.presence-indicator.Away {
  background-color: #ffa500; /* Orange color for 'away' status */
}
