<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Qwicki</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="isLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/phaserio">Phaser.io</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/babylonjs">Babylon.js</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/threejs">Three.js</a>
      </li>
      <li class="nav-item">
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
      </li>
    </ul>
    <button mat-raised-button color="primary" (click)="authenticateJWT()">Test</button>
  </div>
</nav>
