<mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <h1>
        <span [style]="titleColor">{{ title }}</span>
      </h1>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form
    *ngIf="isInboundFriendRequestsComponent()"
    (ngSubmit)="sendFriendRequest()">
    <mat-form-field class="social-friend-requests-full-width">
      <mat-label>Send Friend Request</mat-label>
      <input matInput [(ngModel)]="potentialFriend" name="sendFriendRequest" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!potentialFriend">
      Send
    </button>
  </form>
  <table mat-table [dataSource]="friendRequests" class="mat-elevation-z0">
    <ng-container matColumnDef="username">
      <td mat-cell *matCellDef="let element">
        {{
          isInboundFriendRequestsComponent()
            ? element.from.username
            : element.to.username
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <td class="right-justify" mat-cell *matCellDef="let element">
        <span
          *ngIf="isInboundFriendRequestsComponent()"
          matTooltip="Reject Friend Request"
          (click)="rejectFriendRequest(element)"
          class="material-icons-outlined"
          >person_remove</span
        >
        <span
          *ngIf="isInboundFriendRequestsComponent()"
          matTooltip="Accept Friend Request"
          (click)="addNewFriend(element)"
          class="material-icons-outlined"
          >person_add_alt</span
        >
        <span
          *ngIf="!isInboundFriendRequestsComponent()"
          matTooltip="Revoke Friend Request"
          (click)="revokeFriendRequest(element)"
          class="material-icons"
          >close</span
        >
      </td>
    </ng-container>
    <tr
      mat-row
      *matRowDef="let row; columns: friendRequestsDisplayedColumns"></tr>
  </table>
</mat-expansion-panel>
