<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <h1>Settings</h1>
        <mat-divider></mat-divider>
        <br>
        <br>
        Sensitivity
        <mat-slider min="200" max="20000" [(value)]="cameraSensitivity" (change)="setCameraSensitivity(cameraSensitivity)" thumbLabel="true"></mat-slider>       
        <span class="material-icons">mouse</span>   
        <br>
        <br>
        <h1>Controls</h1>
        <mat-divider></mat-divider>
        <br>
        <br>
        <span id="nav" class="material-icons">vertical_split</span>
        Side Panel: <strong id="strong">Tab</strong>
        <br>   
        <mat-divider></mat-divider>
        <span id="nav" class="material-icons">fullscreen</span>
        Fullscreen: <strong id="strong">`</strong>
        <br>   
        <mat-divider></mat-divider>
        <span id="nav" class="material-icons">bug_report</span>
        Debug Mode: <strong id="strong">+</strong>
        <br>   
        <mat-divider></mat-divider>
        <span id="nav" class="material-icons">flight_takeoff</span>
        Debug Orbit: <strong id="strong">-</strong>
        <br>   
        <mat-divider></mat-divider>
        <span id="nav" class="material-icons">lock_open</span>
        Unlock Cursor: <strong id="strong">Esc</strong>
        <br>   
        <mat-divider></mat-divider>
        <span id="move" class="material-icons">directions_walk</span>
        Move: <strong id="strong">W, A, S, D</strong>
        <br> 
        <mat-divider></mat-divider>
        <span id="run" class="material-icons">directions_run</span>
        Sprint: <strong id="strong">Hold Shift</strong>
        <br>
        <mat-divider></mat-divider> 
        <span id="crouch" class="material-icons">airline_seat_legroom_reduced</span>
        Toggle Crouch: <strong id="strong">C</strong>
        <br> 
        <mat-divider></mat-divider>
        <span id="jump" class="material-icons">self_improvement</span>
        Toggle Gravity: <strong id="strong">Space</strong>
        <br> 
        <mat-divider></mat-divider>
        <span id="aim" class="material-icons">gps_fixed</span>
        Aim Down Sight: <strong id="strong">Right Click</strong>
        <br> 
        <mat-divider></mat-divider>
        <span id="shoot" class="material-icons">bolt</span>
        Shoot Weapon: <strong id="strong">Left Click</strong>
        <br> 
        <mat-divider></mat-divider>
        <span id="swap" class="material-icons">swap_horiz</span>
        Swap Weapon: <strong id="strong">F</strong>
        <br> 
        <mat-divider></mat-divider>
        <span id="pickup" class="material-icons">swap_vert</span>
        Pickup Weapon: <strong id="strong">E</strong>
        <br> 
        <mat-divider></mat-divider>
        <span id="reload" class="material-icons">rotate_left</span>
        Reload Weapon: <strong id="strong">R</strong>
        <br> 
        <mat-divider></mat-divider>
        <span id="grenade" class="material-icons">fire_extinguisher</span>
        Grenade: <strong id="strong">G</strong>
        <br> 
        <mat-divider></mat-divider>
        <span id="melee" class="material-icons">dry</span>
        Melee: <strong id="strong">4</strong>
    </mat-drawer>
    <canvas #canvas></canvas>
</mat-drawer-container>




