<div class="chat-box" (mousedown)="$event.stopPropagation()">
  <div class="message-area" #scrollable>
    <ng-container *ngFor="let group of messages | keyvalue: keepOrder">
      <div class="date-header">{{ group.key | date: 'mediumDate' }}</div>
      <div *ngFor="let message of group.value" class="message-container">
        <div
          class="message-card"
          [ngClass]="
            message.from?._id === friend._id ? 'friend-message' : 'self-message'
          ">
          <div class="message-header">
            {{ message.from?.username }} -
            {{ message.createdAt | date: 'shortTime' }}
          </div>
          <div class="message-content">{{ message.content }}</div>
        </div>
      </div>
    </ng-container>
    <div class="is-typing">
      <app-is-typing
        *ngIf="friend.isTyping"
        [username]="friend.username"></app-is-typing>
    </div>
  </div>
  <div class="input-area">
    <mat-form-field class="input-field">
      <mat-label>Chat</mat-label>
      <textarea
        [(ngModel)]="newMessage"
        (keydown)="onKeyPress()"
        (keydown.enter)="sendMessage($event)"
        cdkTextareaAutosize
        matInput
        maxlength="250"
        #input>
      </textarea>
      <span
        *ngIf="newMessage"
        matSuffix
        matTooltip="Send Message"
        (click)="sendMessage()"
        class="material-icons send-icon">
        send
      </span>
    </mat-form-field>
    <div class="status-and-hint-container">
      <app-status-bubble
        *ngIf="friend.onlineStatus === 'online'"
        class="status-bubble"
        [toolTipText]="'Custom Game - Squad 3/4'"
        [statusText]="'In Pregame Lobby'">
      </app-status-bubble>
      <mat-hint class="hint"> {{ input.value.length || 0 }}/250 </mat-hint>
    </div>
  </div>
</div>
