<ng-container *ngIf="gameMap && gameMode">
  <div class="header">
    <h1>Custom Game</h1>
    <mat-divider></mat-divider>
  </div>
  <div class="top-div">
    <mat-grid-list [cols]="dynamicTeams.length" rowHeight="100%">
      <mat-grid-tile *ngFor="let dynamicTeam of dynamicTeams" class="team">
        <div class="team-header">
          <div class="team-header-content">
            <h2>{{ dynamicTeam.team.name }}</h2>
            <span
              matTooltip="Join Team"
              class="material-icons-outlined"
              (click)="joinTeam(dynamicTeam.team._id)"
              aria-label="Join Team">
              add_circle
            </span>
          </div>
        </div>
        <ng-container *ngFor="let row of dynamicTeam.rows">
          <app-player-row
            class="player-row"
            *ngIf="row.player"
            [player]="row.player"></app-player-row>
          <app-empty-player-row
            class="player-row"
            *ngIf="!row.player"></app-empty-player-row>
        </ng-container>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="bottom-div">
    <mat-grid-list cols="3" rowHeight="100%">
      <mat-grid-tile class="chat">
        <app-lobby-chat-box class="lobby-chat-box"></app-lobby-chat-box>
      </mat-grid-tile>
      <mat-grid-tile class="custom-start">
        <ng-container>
          <div class="start-button">
            <button
              class="start-button"
              mat-raised-button
              color="primary"
              (click)="start()">
              Start
            </button>
          </div>
        </ng-container>
      </mat-grid-tile>
      <mat-grid-tile class="map">
        <div class="map-info">{{ gameMap }} | {{ gameMode }}</div>
        <img [src]="getMapImage(gameMap)" alt="map" />
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-container>
