.header {
  /* background-color: purple; */
  height: 5%;
}

.top-div {
  /* background-color: blue; */
  height: 65%;
  padding: 8px;
}

::ng-deep .team .mat-grid-tile-content {
  /* background-color: maroon; */
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.player-row {
  width: 100%;
}

.bottom-div {
  /* background-color: red; */
  height: 30%;
}

.lobby-chat-box {
  /* background-color: green; */
  height: 100%;
  width: 100%;
}

::ng-deep .custom-start .mat-grid-tile-content {
  /* background-color: orange; */
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.start-button {
  width: 100%;
}

::ng-deep .map .mat-grid-tile-content {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.map img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.map .map-info {
  background-color: var(--purple-opacity-30);
  width: 100%;
  align-self: flex-start;
  padding: 10px;
  color: #ffffff;
  font-size: 1.4em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
