mat-form-field {
  width: 100%;
}

::ng-deep .user-filterable-multi-select .mat-pseudo-checkbox-disabled {
  display: none;
}

/* Since I am unable to get this working with a custom class be careful of any child mat-select-panels as they will be affected by this */
::ng-deep .mat-select-panel {
  min-width: calc(100% + 13px) !important;
}
