.grid-container {
  height: 80%;
}

.bottom-div {
  height: 20%;
}

.lobby-panel {
  height: 100%;
  width: 100%;
  padding: 8px;
  padding-top: 16px;
}

.lobby-chat-box {
  height: 100%;
  width: 100%;
}

::ng-deep .start .mat-grid-tile-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.start-button {
  width: 100%;
}

.queue-controls {
  height: 100%;
  width: 100%;
}
