html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.lobby-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-container {
  flex: 1; /* Takes up all available space */
  overflow: auto;
}

.action-container {
  /* Set the height as required */
  height: 200px; /* Example height, adjust as needed */
  width: 100%;
  /* Add more styling as needed */
}
