<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <h1>
      <span
        style="margin-right: 8px"
        routerLink="/user-profile"
        matTooltip="Go to User Profile"
        class="material-icons profile-icon"
        >account_circle</span
      >
      <span *ngIf="user$ | async as user">{{ user.username }}</span>
    </h1>
    <mat-divider></mat-divider>

    <mat-tab-group
      class="social-sidenav-tab-group social-sidenav-no-pagination"
      (selectedIndexChange)="onTabChanged($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          Friends
          <ng-container *ngIf="combinedNotifications$ | async as combinedNotif">
            <app-notification-badge
              *ngIf="combinedNotif.hasData && activeTabIndex !== 0"
              [count]="combinedNotif.count">
            </app-notification-badge>
          </ng-container>
        </ng-template>
        <app-social-friends-tab
          [friendsData]="friends$ | async"
          [inboundFriendRequestsData]="inboundFriendRequests$ | async"
          [outboundFriendRequestsData]="outboundFriendRequests$ | async"
          [unviewedMessages]="unviewedMessages$ | async">
        </app-social-friends-tab>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label> Groups </ng-template>
        <!-- <app-social-groups-tab> </app-social-groups-tab> -->
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
  <!-- <app-home [self]="self" [selfJWT]="selfJWT"></app-home> -->
  <div class="main-div">Hello World</div>
</mat-drawer-container>
