<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <h1>
      <span
        style="margin-right: 8px"
        routerLink="/user-profile"
        matTooltip="Go to User Profile"
        class="material-icons profile-icon"
        >account_circle</span
      >
      <span *ngIf="user$ | async as user">{{ user.username }}</span>
    </h1>
    <mat-divider></mat-divider>

    <mat-tab-group
      class="social-sidenav-tab-group social-sidenav-no-pagination"
      (selectedIndexChange)="onTabChanged($event)">
      <mat-tab>
        <ng-template mat-tab-label>
          Friends
          <app-notification-badge
            *ngIf="unviewedMessagesCount > 0 && activeTabIndex !== 0"
            [count]="unviewedMessagesCount"></app-notification-badge>
        </ng-template>

        <app-social-friends-tab></app-social-friends-tab>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          Groups
          <app-notification-badge
            *ngIf="unviewedMessagesCount > 0 && activeTabIndex !== 1"
            [count]="unviewedMessagesCount"></app-notification-badge>
        </ng-template>
        <!-- <app-social-groups-tab> </app-social-groups-tab> -->
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>
  <!-- <app-home [self]="self" [selfJWT]="selfJWT"></app-home> -->
  <div class="main-div">Hello World</div>
</mat-drawer-container>
