.profile-section {
  display: flex;
  align-items: center;
}

.profile-icon {
  margin-right: 8px;
  margin-bottom: 16px;
}

.navigation-menu {
  margin-bottom: 16px;
}

.presence {
  margin-left: 8px;
  margin-bottom: 16px;
}

.flex-spacer {
  flex-grow: 1;
}
