<div class="profile-section">
  <span routerLink="/" matTooltip="Home" class="material-icons profile-icon"
    >home</span
  >
  <ng-container *ngIf="user$ | async as user">
    <h1>{{ user.username }}</h1>
    <app-presence
      class="presence"
      [size]="15"
      [readOnly]="false"
      [presence]="user?.presence"></app-presence>
  </ng-container>
  <div class="flex-spacer"></div>
  <app-navigation-menu class="navigation-menu"></app-navigation-menu>
</div>
<mat-divider></mat-divider>
<mat-tab-group class="tab-group" (selectedIndexChange)="onTabChanged($event)">
  <mat-tab>
    <ng-template mat-tab-label>
      Friends
      <ng-container *ngIf="combinedNotifications$ | async as combinedNotif">
        <app-notification-badge
          *ngIf="combinedNotif.hasData"
          [count]="combinedNotif.count"></app-notification-badge>
      </ng-container>
    </ng-template>
    <app-friends-tab
      [friendsData]="friends$ | async"
      [inboundNotificationsData]="inboundNotifications$ | async"
      [outboundNotificationsData]="outboundNotifications$ | async"
      [unviewedMessages]="unviewedMessages$ | async">
    </app-friends-tab>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> Groups </ng-template>
  </mat-tab>
</mat-tab-group>
