<div class='main-div'>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome to Wick's App</mat-card-title>
      <mat-card-subtitle>Woof woof</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        This app is currently in development. It is a Dockerized MEAN stack integrated with BabylonJS for 3D rendering. 
        The goal is to make some sort of 3D multiplayer FPS for people to enjoy :) Oh yeah, and I am using socket.io 
        for the online multiplayer. Still a work in progress as I am developing this alone. Feel free to enter a username
        and play around with what I have developed so far :)
      </p>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>User Name</mat-label>
          <input matInput [value]="username" (input)="username = $event.target.value" placeholder="Ex. xx-legit-snipes">
        </mat-form-field>
    </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="play()">Play</button>
    </mat-card-actions>
  </mat-card>
</div>

