
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
        <h1>Hello, {{user.username}}</h1>
        <mat-divider></mat-divider>
        <br>
        <br>
        <form class="home-form" (ngSubmit)="search()">
            <mat-form-field class="home-full-width">
              <mat-label>Add New Friend</mat-label>
              <input matInput [(ngModel)]="searchValue" name="search">
            </mat-form-field>
        </form>   
        <form class="home-form">
            <mat-form-field class="home-full-width">
              <mat-label>Friends</mat-label>
              <input matInput (keyup)="filter($event)" name="filter">
            </mat-form-field>
        </form>    
        <h1><span style="color:rgb(0, 255, 149)">online</span></h1>
        <mat-divider></mat-divider>
 
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

            <ng-container matColumnDef="name">
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <td mat-cell *matCellDef="let element">
                    <span class="material-icons">close</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="send">
                <td mat-cell *matCellDef="let element">
                    <span class="material-icons">send</span>
                </td>
            </ng-container>
          
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        <br>
        <br>       
        <h1><span style="color:rgb(255, 0, 76)">offline</span></h1>
        <mat-divider></mat-divider>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

            <ng-container matColumnDef="name">
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <td mat-cell *matCellDef="let element">
                    <span class="material-icons">close</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="send">
                <td mat-cell *matCellDef="let element">
                    <span class="material-icons">send</span>
                </td>
            </ng-container>
          
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

    </mat-drawer>
    <div class="main-div">
        <mat-card class="home-card">
            <mat-card-header>
              <div mat-card-avatar class="home-header-image"></div>
              <mat-card-title>Home</mat-card-title>
              <mat-card-subtitle>Wanna play a qwicki?</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/chillin.png" alt="Wick logo">
            <mat-card-content>
            </mat-card-content>
          </mat-card>
    
    </div>
</mat-drawer-container>

