<div class='main-div'>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Welcome</mat-card-title>
      <mat-card-subtitle>Phaser.io | Babylon.js | Three.js</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/wick.png" alt="Wick logo">
    <mat-card-content>
      <p>
        Enter a username if you want...and then click the <strong>Play</strong> button. Once the game is loaded you can press <strong>Tab</strong>  
        to see the controls and adjust your settings
      </p>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>User Name</mat-label>
          <input matInput [(ngModel)]="username" name="username">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="play()">Play</button>
    </mat-card-actions>
  </mat-card>
</div>

