.mat-expansion-panel {
  background-color: #212529;
  color: aliceblue;
}

.mat-expansion-panel-header {
  padding: 0px;
  padding-right: 7px;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
  padding-bottom: 7px !important;
}

::ng-deep .mat-expansion-indicator:after {
  color: rgba(255, 255, 255, 0.5);
}

::ng-deep .material-icons.online,
.material-icons-outlined {
  vertical-align: middle;
  color: #3cb371;
  font-size: 12px;
  padding-right: 4px;
}

::ng-deep .material-icons.offline,
.material-icons-outlined {
  vertical-align: middle;
  color: #cd5c5c;
  font-size: 12px;
  padding-right: 4px;
}

.notification-bubble {
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  border-radius: 50%; /* Makes the badge rounded */
  background-color: #d31f1f; /* Red-ish background color */
  color: #ffffff; /* White text color */
  font-size: 12px; /* Adjust based on your design needs */
  font-weight: bold;
  position: relative;
  text-align: center; /* Centers single digit numbers */
}
