<mat-expansion-panel
(opened)="onPanelOpen()" 
(closed)="onPanelClose()" 
class="mat-elevation-z0" border 
[bStyle]="panelOpenState ? 'solid' : 'hidden'" 
[bPadding]="panelOpenState ? 5 : 0">
    <mat-expansion-panel-header>
        <mat-panel-title [style]="panelOpenState ? 'color:#673ab7' : 'color:aliceblue'">
            {{friend.username}}
        </mat-panel-title> 
        <mat-panel-description>
            <span *ngIf="hasUnviewedMessages && !panelOpenState" class="material-icons">mail</span>
        </mat-panel-description>     
    </mat-expansion-panel-header>
    <app-chat-box [potentialMessage]="potentialMessage" [(friend)]="friend" (onRemoveFriend)="removeFriend()" (onUnviewedMessage)="unviewedMessageAlert()"></app-chat-box>
</mat-expansion-panel>