<mat-expansion-panel
  (opened)="onPanelOpen()"
  (closed)="onPanelClose()"
  class="mat-elevation-z0"
  appBorder
  [bStyle]="panelOpenState ? 'solid' : 'hidden'"
  [bPadding]="panelOpenState ? 5 : 0">
  <mat-expansion-panel-header>
    <mat-panel-title
      [style]="panelOpenState ? 'color:#673ab7' : 'color:aliceblue'">
      {{ friend.username }} - {{ friend.online ? 'online' : 'offline' }}
    </mat-panel-title>
    <mat-panel-description>
      <span
        *ngIf="hasUnviewedMessages && !panelOpenState"
        class="material-icons"
        >mail</span
      >
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-social-chat-box
    [panelOpenState]="panelOpenState"
    [friend]="friend"
    (unviewedMessage)="onUnviewedMessage()"></app-social-chat-box>
</mat-expansion-panel>
