<div (mousedown)="$event.stopPropagation()">
  <div class="scrollable" #scrollable>
    <div *ngFor="let group of messages | keyvalue">
      <div class="date-header">
        {{ group.key | date: 'mediumDate' }}
      </div>
      <div *ngFor="let message of group.value">
        <mat-card class="card">
          <mat-card-subtitle class="card-subtitle small-font">
            {{ message.from?.username }} -
            {{ message.createdAt | date: 'shortTime' }}
          </mat-card-subtitle>
          <mat-card-content class="card-content">
            <mat-list
              *ngFor="let paragraph of getParagraphs(message)"
              role="list">
              <mat-list-item role="listitem">
                <div [innerHTML]="paragraph"></div>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <mat-form-field class="input">
    <mat-label>Chat</mat-label>
    <textarea
      [(ngModel)]="newMessage"
      (keydown.enter)="sendMessage($event)"
      cdkTextareaAutosize
      matInput
      maxlength="250"
      #input></textarea>
    <mat-hint class="hint" align="end"
      >{{ input.value.length || 0 }}/250</mat-hint
    >
  </mat-form-field>
  <span matTooltip="Send Message" (click)="sendMessage()" class="material-icons"
    >send</span
  >
  <span
    matTooltip="Remove Friend"
    (click)="removeFriend()"
    class="material-icons-outlined"
    >person_remove</span
  >
</div>
