<span
  [matTooltip]="toolTipText"
  class="material-icons-outlined"
  aria-label="Invite friend"
  #trigger="matMenuTrigger"
  [matMenuTriggerFor]="menu"
  (click)="onMenuOpened()">
  add
</span>

<mat-menu #menu="matMenu" (closed)="onMenuClosed()" class="menu">
  <div class="menu-content">
    <div class="search-bar">
      <mat-form-field class="full-width" (click)="$event.stopPropagation()">
        <input
          matInput
          placeholder="Search"
          [formControl]="friendSearchCtrl"
          (keydown)="$event.stopPropagation()"
          #searchInput />
      </mat-form-field>
    </div>
    <div class="friends-list">
      <button
        mat-menu-item
        *ngFor="let friend of filteredFriends$ | async"
        (click)="sendInvite(friend)">
        <app-presence
          class="presence"
          [presence]="friend?.presence"></app-presence>
        {{ friend.username }}
        <app-status-bubble
          class="status-bubble"
          [activity]="friend?.activity"
          [queueType]="friend?.queueType"
          [gameType]="friend?.gameType"
          [presence]="friend?.presence"></app-status-bubble>
      </button>
    </div>
  </div>
</mat-menu>
