::ng-deep ::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 4px #707070;
}

::ng-deep ::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 10px;
}

::ng-deep .material-icons,
.material-icons-outlined {
  vertical-align: middle;
  color: var(--purple);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

::ng-deep .material-icons:hover,
.material-icons-outlined:hover {
  cursor: pointer;
  transform: scale(1.1); /* Slight zoom effect on hover */
  color: #9c27b0; /* A slightly darker shade on hover */
}

::ng-deep .material-icons:active,
.material-icons-outlined:active {
  transform: scale(0.9); /* Slight shrink effect on active click */
}

::ng-deep .material-icons-outlined {
  vertical-align: middle;
  color: var(--purple);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

::ng-deep .material-icons-outlined:hover {
  cursor: pointer;
  transform: scale(1.1); /* Slight zoom effect on hover */
  color: #9c27b0; /* A slightly darker shade on hover */
}

::ng-deep .material-icons-outlined:active {
  transform: scale(0.9); /* Slight shrink effect on active click */
}
