<mat-expansion-panel
  (opened)="onPanelOpen()"
  (closed)="onPanelClose()"
  class="mat-elevation-z0 padding-0"
  appBorder
  [bStyle]="panelOpenState ? 'solid' : 'hidden'"
  [bPadding]="panelOpenState ? 5 : 0">
  <mat-expansion-panel-header>
    <mat-panel-title
      [style]="panelOpenState ? 'color:#7b1fa2' : 'color:aliceblue'">
      <app-presence
        class="presence"
        [presence]="friend?.presence"></app-presence>
      {{ friend.username }}

      <app-status-bubble
        *ngIf="!panelOpenState"
        class="status-bubble"
        [activity]="friend?.activity"
        [queueType]="friend?.queueType"
        [gameType]="friend?.gameType"
        [presence]="friend?.presence">
      </app-status-bubble>
    </mat-panel-title>
    <mat-panel-description>
      <div class="icon-container">
        <span
          *ngIf="panelOpenState"
          matTooltip="Remove Friend"
          (click)="removeFriend(); $event.stopPropagation()"
          class="material-icons-outlined"
          aria-label="Remove friend"
          >person_remove</span
        >

        <span
          *ngIf="panelOpenState"
          matTooltip="Invite Friend"
          (click)="sendInvite(); $event.stopPropagation()"
          class="material-icons-outlined"
          aria-label="Invite friend"
          >group_add</span
        >
      </div>
      <app-notification-badge
        *ngIf="unviewedMessages.length > 0 && !panelOpenState"
        [count]="unviewedMessages.length"></app-notification-badge>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-chat-box
    [panelOpenState]="panelOpenState"
    [friend]="friend"
    [messages]="messages"></app-chat-box>
</mat-expansion-panel>
