<mat-expansion-panel
  (opened)="onPanelOpen()"
  (closed)="onPanelClose()"
  class="mat-elevation-z0 padding-0"
  appBorder
  [bStyle]="panelOpenState ? 'solid' : 'hidden'"
  [bPadding]="panelOpenState ? 5 : 0">
  <mat-expansion-panel-header>
    <mat-panel-title
      [style]="panelOpenState ? 'color:#7b1fa2' : 'color:aliceblue'">
      <app-online-status
        class="online-status"
        [status]="friend.onlineStatus"></app-online-status>
      {{ friend.username }}
    </mat-panel-title>
    <mat-panel-description>
      <app-notification-badge
        *ngIf="unviewedMessages.length > 0 && !panelOpenState"
        [count]="unviewedMessages.length"></app-notification-badge>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <app-chat-box
    [panelOpenState]="panelOpenState"
    [friend]="friend"
    [messages]="messages"></app-chat-box>
</mat-expansion-panel>
