.mat-expansion-panel {
  background-color: var(--dark);
}

.mat-expansion-panel-header {
  padding: 0px;
  padding-right: 7px;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px;
}

.online-status {
  margin-right: 4px;
}
