.full-height {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidenav {
  width: 20%;
  min-width: 335px;
  padding: 20px;
}

.content {
  flex-grow: 1;
  /* background-image: url('/assets/qwicki-background.png'); */
}

.mat-drawer {
  background-color: var(--dark);
}

::ng-deep .sidenav .mat-drawer-inner-container {
  overflow: visible;
}
