.social-groups-list {
  padding-top: 10px;
}

.mat-expansion-panel {
  background-color: #212529;
  color: aliceblue;
}

.mat-expansion-panel-header {
  padding: 0px;
  padding-right: 7px;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
  padding-bottom: 7px !important;
}

::ng-deep .mat-expansion-indicator:after {
  color: rgba(255, 255, 255, 0.5);
}

.social-friends-full-width {
  width: 100%;
}
