<div class="social-groups-tab" *ngIf="isAsyncDataPresent">
  <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>
          <span [style]="titleColor">create group</span>
        </h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="social-group-create-form" (ngSubmit)="createGroup()">
      <mat-form-field class="social-group-create-full-width">
        <mat-label>Name</mat-label>
        <input
          matInput
          [(ngModel)]="group.name"
          name="name"
          #input
          maxlength="20" />
        <mat-hint class="social-group-create-hint" align="end"
          >{{ input.value?.length || 0 }}/20</mat-hint
        >
      </mat-form-field>

      <app-user-filterable-multi-select
        [(selection)]="selectedFriends"
        [selectable]="friends$ | async"
        label="Friends"
        [none]="false"></app-user-filterable-multi-select>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="disableGroupCreation()">
        Create
      </button>
    </form>
  </mat-expansion-panel>
</div>
