<ng-container *ngIf="gameType$ | async as gameType">
  <ng-template [ngIf]="gameType === 'Normal'">
    <app-normal-game-match-making></app-normal-game-match-making>
  </ng-template>

  <ng-template [ngIf]="gameType === 'Ranked'">
    <app-ranked-game-match-making></app-ranked-game-match-making>
  </ng-template>

  <ng-template [ngIf]="gameType === 'Custom'">
    <app-custom-game-settings></app-custom-game-settings>
  </ng-template>

  <ng-template [ngIf]="gameType === 'Money Match'">
    <app-money-match-game-match-making></app-money-match-game-match-making>
  </ng-template>
</ng-container>
