<ng-container
  *ngIf="{ gameType: gameType$ | async, route: route$ | async } as data">
  <ng-template [ngIf]="data.gameType === 'Normal'">
    <app-normal-game-match-making></app-normal-game-match-making>
  </ng-template>

  <ng-template [ngIf]="data.gameType === 'Ranked'">
    <app-ranked-game-match-making></app-ranked-game-match-making>
  </ng-template>

  <ng-template
    [ngIf]="data.gameType === 'Custom' && data.route === 'custom-game'">
    <app-custom-game-settings></app-custom-game-settings>
  </ng-template>

  <ng-template [ngIf]="data.gameType === 'Money Match'">
    <app-money-match-game-match-making></app-money-match-game-match-making>
  </ng-template>
</ng-container>
