<div class="social-friends-tab">
  <form>
    <mat-form-field class="social-friends-full-width">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="filter($event)" name="filter" />
    </mat-form-field>
  </form>
  <app-social-friend-requests-list
    title="friend requests"
    titleColor="color:aliceblue"
    [friendRequests]="inboundFriendRequests"></app-social-friend-requests-list>
  <app-social-friends-list [friends]="friends"></app-social-friends-list>
  <app-social-friend-requests-list
    title="pending"
    titleColor="color:yellow"
    [friendRequests]="outboundFriendRequests"></app-social-friend-requests-list>
</div>
