<div class="social-friends-tab">
  <!-- <app-social-friend-requests-list
    title="friend requests"
    titleColor="color:aliceblue"
    [(friendRequests)]="inboundFriendRequests"
    (send)="onSendFriendRequest($event)"
    (accept)="onAcceptFriendRequest()"></app-social-friend-requests-list>
  <br /> -->
  <mat-expansion-panel class="mat-elevation-z0" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>
          <span style="color: rgb(0, 162, 255)">friends</span>
        </h1>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form>
      <mat-form-field class="social-friends-full-width">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="filter($event)" name="filter" />
      </mat-form-field>
    </form>

    <mat-table [dataSource]="onlineFriends">
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
        <mat-cell *matCellDef="let friend">{{ friend.username }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-table [dataSource]="offlineFriends">
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
        <mat-cell *matCellDef="let friend">{{ friend.username }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <!-- <app-social-friends-list
      title="online"
      titleColor="color:rgb(0, 255, 149)"
      [(friends)]="onlineFriends"
      [potentialMessage]="potentialMessage"></app-social-friends-list>
    <app-social-friends-list
      title="offline"
      titleColor="color:rgb(255, 0, 76)"
      [(friends)]="offlineFriends"
      [potentialMessage]="potentialMessage"></app-social-friends-list>
    <app-social-friend-requests-list
      title="pending"
      titleColor="color:rgba(236, 232, 0, 0.884)"
      [(friendRequests)]="outboundFriendRequests"
      [update]="update"></app-social-friend-requests-list> -->
  </mat-expansion-panel>
</div>
